<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.han.boostcamp_walktogether">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>


    <application
        android:name=".util.KaKaoGlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/walking_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity android:name=".view.MainActivity"/>

        <activity android:name=".view.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        
        <activity android:name=".view.MapActivity"/>
        <activity android:name=".view.LocationListActivity"/>
        <activity android:name=".view.LocationActivity"
            android:parentActivityName=".view.MapActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.MapActivity"/>

        </activity>
        <activity android:name=".view.LocationCommentActivity"/>
        <activity android:name=".view.LocationFreeboardActivity"/>
        <activity android:name=".view.detail.LocationFreeboardAddActivity"/>
        <activity android:name=".view.detail.LocationFreeboardSelectActivity"/>
        <activity android:name=".view.detail.LocationCommentAddActivity"/>
        <activity android:name=".view.WalkDiaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />

            </intent-filter>


        </activity>

        <activity android:name=".view.detail.FreeboardCommentAddActivity"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


        <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key"/>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".view.detail.LibraryActivity"/>
    </application>



</manifest>